/* @import url(https://fonts.googleapis.com/earlyaccess/cwtexkai.css); */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    

}

a{

color:#dadada;

}
body{

    background-color:rgb(47, 255, 109);
    font-family: 'Press Start 2P', sans-serif;
    color: rgba(8,255,200,1);
    font-family: "cwTeXKai", serif;
    font-weight: 800px;
        /* 背景圖滿版 */
    background-image: url("question-mark-1872665__340.webp" );
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-shadow: 0 1px 3px rgb(0 0 0 / 50%)
    /* 字陰影 */
}

.again{

position:absolute;
left:50%;
transform: translate(-50%,-50%);
top:180px;


}


.coder{

position:absolute;
bottom:0;
/* 置下 */

left:50%;
transform: translate(-50%,-50%);
/* 置中 */
}








#game{
    position:relative;
    text-align:center;    
    top:50px;
}

#container-score{

    position: relative;
    text-align: center;
    top: 60px;;
    margin: 0px auto;
    /*置中*/
    width:400px;


}

#display{


font-size:50px;
letter-spacing: 20px;
position: relative;
text-align: center;
top:100px;
color:rgba(4,0,0,1);
border:solid;
border-color: rgba(4,0,0,1);
background-color: rgba(218,218,218,1);


}

input{

width:150px;
height: 50px;



}


.title{


    position: relative;
    font-size: 50px;
    text-align: center;
    left:50%;
    transform: translate(-50%,-50%);
    top:70px;
    width:600px;
    

}

h2{


position: relative;
text-align: center;
width:400px;
background-color: rgba(32,73,105,1);




}





